{# src/Application/Sonata/UserBundle/Resources/views/layout.html.twig #}
{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block main %}
<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
{% endblock %}
